* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/*============ Code Chung =============*/
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 11px 41px;
  line-height: 2.8rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
/*============ Code Phan Header =============*/
.header {
  background: #fffcf4;
  overflow: auto; /* Tu dong xuat hien thanh cuon */
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  /* flex-wrap: wrap; */ /* Cho phep xuong dong khi khong the chua */
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  /* flex-wrap: wrap; */
}

.nav a {
  position: relative;
  display: inline-block; /* Giu vi tri khoi ::after khong bi lech */ 
  color: #5f5b53;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  left: 21px;
  bottom: 2px;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
